<section class="section-about-another">
  <div class="container-about">
    <h1 class="heading">
      Meet the Team
      <div class="card-wrapper">
        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title">Job Title</p>
          <p class="about">
            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Assumenda corrupti, libero ad iste tenetur illo rerum nihil optio ex voluptatem maiores sunt qui laudantium distinctio omnis veritatis excepturi iure quisquam?
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title">Job Title</p>
          <p class="about">
            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Assumenda corrupti, libero ad iste tenetur illo rerum nihil optio ex voluptatem maiores sunt qui laudantium distinctio omnis veritatis excepturi iure quisquam?
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title">Job Title</p>
          <p class="about">
            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Assumenda corrupti, libero ad iste tenetur illo rerum nihil optio ex voluptatem maiores sunt qui laudantium distinctio omnis veritatis excepturi iure quisquam?
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title">Job Title</p>
          <p class="about">
            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Assumenda corrupti, libero ad iste tenetur illo rerum nihil optio ex voluptatem maiores sunt qui laudantium distinctio omnis veritatis excepturi iure quisquam?
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title">Job Title</p>
          <p class="about">
            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Assumenda corrupti, libero ad iste tenetur illo rerum nihil optio ex voluptatem maiores sunt qui laudantium distinctio omnis veritatis excepturi iure quisquam?
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>

        <div class="card">
          <img src="https://miro.medium.com/max/587/1*V57nECYROw-9rXjSKpOsgw.jpeg" alt="card-background" class="card-background">
          <img src="https://imgix.bustle.com/uploads/image/2018/6/14/2fd8fd39-1245-4189-8224-605406030f80-andy-dwyer-surprised-parks-rec.png?w=1200&h=630&fit=crop&crop=faces&fm=jpg" alt="profie-image" class="profile-image">
          <h1>First Name</h1>
          <p class="job-title"></p>
          <p class="about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt commodi harum optio nihil eius quos deserunt assumenda eum, dolorem odio, provident, rerum repudiandae. Maiores repudiandae nulla, a similique accusantium.
          </p>
          <a href="#" class="btn">Contact</a>
          <ul class="social-media">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-round"></i></a></li>
            <li><a href=""><i class="fa-instagram-square"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </h1>
  </div>
</section>
