<div class="contacttest">
<div class="container">
  <div class="contactinfo">
    <div>
      <h2>Contact Info</h2>
      <ul class="info">
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>666 Porra do Caralho <br>
            Street, na Floripa
          </span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>lorem@lorem.br</span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>123456</span>
        </li>
      </ul>
      <ul class="sci">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="contact-form">
    <h2>Send a Message</h2>
    <div class="form-box">
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>First Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Last Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Email Address</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Contact Number</span>
      </div>
      <div class="input-box w100">
        <textarea name="" required></textarea>
        <span>Write Your Message Here</span>
      </div>
      <div class="input_box w100">
        <input type="submit" value="send">
      </div>
    </div>
  </div>
</div>
</div>



<div class="card-category" style="background-image: rgba (0, 0, 0, 0.2), url(/images/dounat.jpg)">
  Text on this card
</div>


<div class="product-card-category">
  <div class="left-card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="right-card">
    <h3>Product name</h3>
    <p>Product description</p>
  </div>
</div>


<div class="travel-card">
  <img src="https://images.kiwi.com/photos/1200x628/lublin_pl.jpg" />
  <div class="info-section">
    <div class="info-section-one">
      <h2>Travel to Lublin</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ex, quibusdam obcaecati ipsum nihil repudiandae quaerat. Possimus nemo, sequi veniam temporibus, iusto libero quam, obcaecati harum optio in, dolorem odio.</p>
    </div>
    <div class="info-section-two">
      <img src="https://www.thisiscolossal.com/wp-content/uploads/2021/06/portal-8.jpg" />
      <p>PLN 99</p>
    </div>
  </div>
</div>



<!-- full product card -->

<div class=full-product-card-container style="background-image: url(https://purewows3.imgix.net/images/articles/2021_02/types-of-oranges-CAT.jpg?auto=format,compress&cs=strip)">
  <div class="full-product-card-info-main">
    <img src="https://www.thecakedecoratingcompany.co.uk/images/lorann-orange-oil-natural-food-flavouring-p801-51745_image.jpg" />
    <div class="full-product-card-info-small">
      <div class="rating">⭐️⭐️⭐️⭐️</div>
      <h6>Product Name</h6>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore magni in, magnam maxime repellat dolorum, voluptatem quos! Dolorem dignissimos error, molestiae aut, nam sequi sapiente ad deserunt facere ratione sit?</p>
      <a class="btn" href="#">Price</a>
    </div>
  </div>
  <div class="footer-main-pic">
    <img src="https://images.indianexpress.com/2021/01/strawberry_1200_getty.jpg" />
  </div>
  <div class="images-container">
    <img src="https://images.indianexpress.com/2021/01/strawberry_1200_getty.jpg" alt="">
    <img src="https://images.indianexpress.com/2021/01/strawberry_1200_getty.jpg" alt="">
    <img src="https://images.indianexpress.com/2021/01/strawberry_1200_getty.jpg" alt="">
  </div>
</div>
