<div class="contacttest">
<div class="container">
  <div class="contactinfo">
    <div>
      <h2>Contact Info</h2>
      <ul class="info">
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>666 Porra do Caralho <br>
            Street, na Floripa
          </span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>lorem@lorem.br</span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>123456</span>
        </li>
      </ul>
      <ul class="sci">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="contact-form">
    <h2>Send a Message</h2>
    <div class="form-box">
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>First Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Last Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Email Address</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Contact Number</span>
      </div>
      <div class="input-box w100">
        <textarea name="" required></textarea>
        <span>Write Your Message Here</span>
      </div>
      <div class="input_box w100">
        <input type="submit" value="send">
      </div>
    </div>
  </div>
</div>
</div>

