<!-- <form>

</form>
<div>
</div>
<div>
  <form>
  <input type="text" value="Enter Your Emai">
  <input type="password">
  <input type="date">
  <input type="file">
  <textarea>Enter your text here</textarea>
  <input type="submit">
</form>
</div>
 -->



<!-- 1  -->

 <div class='container-contact'>
  <div class='container-contact-inner'>
    <h1>Connect with Us</h1>
    <p>We would love to connect with you</p>
    <div class='contact-box'>
      <div clss='contact-left'>
        <h3>Sent your request</h3>
        <form>
          <div class='input-row'>
           <div class='input-group'>
            <label>Name</label>
            <input type="text" placeholder="Name">
          </div>
          <div class='input-group'>
            <label>Phone</label>
            <input type="text" placeholder="Phone">
          </div>
        </div>
        <div class='input-row'>
           <div class='input-group'>
            <label>Email</label>
            <input type="email" placeholder="Email">
          </div>
          <div class='input-group'>
            <label>Subject</label>
            <input type="text" placeholder="Subject">
          </div>
        </div>
        <label>Message</label>
        <textarea rows="5" placeholder="Write your message"></textarea>
        <button type="Submit">Send</button>
      </form>
    </div>
    <div class='contact-right'>
      <h3>Reach Us</h3>
      <table>
        <tr>
          <td>Email Us</td>
          <td>eail@email.com</td>
        </tr>
        <tr>
          <td>Call Us</td>
          <td>123456</td>
        </tr>
        <tr>
          <td>Visit Us</td>
          <td>123 Rua Porra do Caralho
            666 Gomorra
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>



<!-- 2 -->

<div class='container-contact'>
  <div class='container-contact-inner'>
    <h1>Connect Information</h1>
    <p>We would love to connect with you</p>
    <div class='contact-box'>
      <div class='contact-left-two'>
        <h3>Reach Us</h3>
        <table>
          <tr>
            <td>📩</td>
            <td>email@email.com</td>
          </tr>
          <tr>
            <td>🔔</td>
            <td>123456</td>
          </tr>
          <tr>
            <td>📍</td>
            <td>123 Rua Porra do Caralho
              666 Gomorra
            </td>
          </tr>
        </table>
        <div>
          <br>
          <div class="social">
            <ul class="links-wrapper">
              <li class="icon" aria-hidden="true" target=_blank href="#"><i class="fab fa-facebook-square"></i></li>
              <li class="icon" aria-hidden="true" target=_blank href="#"><i class="fab fa-twitter-square"></i></li>
              <li class="icon" aria-hidden="true" target=_blank href="#"><i class="fab fa-instagram-square"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div clss='contact-right-two'>
        <form>
          <div class='input-row'>
            <div class='input-group'>
              <label>Name</label>
              <input type="text" placeholder="Name">
            </div>
            <div class='input-group'>
              <label>Phone</label>
              <input type="text" placeholder="Phone">
            </div>
          </div>
          <div class='input-row'>
            <div class='input-group'>
              <label>Email</label>
              <input type="email" placeholder="Email">
            </div>
            <div class='input-group'>
              <label>Subject</label>
              <input type="text" placeholder="Subject">
            </div>
          </div>
          <div class="radio-button">
            <div>
              <input type="radio" id="potato" name="webtype">
              <label for="webtype">Web Design</label>
            </div>
            <div>
              <input type="radio" id="potato" name="webtype">
              <label for="webtype">Web Development</label>
            </div>
            <div>
              <input type="radio" id="potato" name="webtype">
              <label for="webtype">Logo Design</label>
            </div>
            <div>
              <input type="radio" id="potato" name="webtype" checked>
              <label for="webtype">Other</label>
            </div>
          </div>
          <label>Message</label>
          <textarea rows="5" placeholder="Write your message"></textarea>
          <button type="Submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- 3 -->

<section>
<div class="container">
  <div class="contactinfo">
    <div>
      <h2>Contact Info</h2>
      <ul class="info">
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>666 Porra do Caralho <br>
            Street, na Floripa
          </span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>lorem@lorem.br</span>
        </li>
        <li>
          <span><i class="fas fa-at"></i></span>
          <span>123456</span>
        </li>
      </ul>
      <ul class="sci">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="contact-form">
    <h2>Send a Message</h2>
    <div class="form-box">
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>First Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Last Name</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Email Address</span>
      </div>
      <div class="input-box w50">
        <input type="text" name="" required>
        <span>Contact Number</span>
      </div>
      <div class="input-box w100">
        <textarea name="" required></textarea>
        <span>Write Your Message Here</span>
      </div>
      <div class="input_box w100">
        <input type="submit" value="send">
      </div>
    </div>
  </div>
</div>
</section>
