<div class="jumbotron center" style="background-image: url(<%= asset_path('unsplash.jpg') %>)">
  <h1>Welcome to my recipes</h1>
  <h3>Best recipes sharing app</h3>
  <%= link_to "Log-in or Sign-up", "#", class: " btn btn-danger btn-large" %>
</div>



