<div class="mainprofile-contaner">

  <div class="mainprofile-info">
    <div class="mainprofile-info-left">

    </div>
    <div class="mainprofile-info-left-two">

    </div>
    <div class="mainprofile-info-left-three">

    </div>
    <div class="mainprofile-info-top">

    </div>
    <div class="mainprofile-info-top-two">

    </div>
    <div class="mainprofile-info-top-three">

    </div>
    <div class="bio">
      <h2>Hi! I'm Agnieszka</h2>
      <p>I'm poloneza and eu gosto cafezinho!</p>
    </div>
  </div>

  <div class="mainprofile-middle-cards">
    <div class="middle-card-one">
      <div class="middle-card-one-left">

        <div class="middle-card-one-left-decoration-one">

        </div>
        <div class="middle-card-one-left-decoration-two">

        </div>

        <div class="middle-card-one-top-decoration-one">

        </div>
        <div class="middle-card-one-top-decoration-two">

        </div>

      </div>
      <div class="middle-card-one-right">

      </div>
    </div>
    <div class="middle-card-two">

      <div class="middle-card-two-left">

      </div>

      <div class="middle-card-two-right">
        <div class="middle-card-two-right-decoration-one">

        </div>

        <div class="middle-card-two-right-decoration-two">

        </div>
        <div class="middle-card-two-top-decoration-one">

        </div>
        <div class="middle-card-two-top-decoration-two">

        </div>

      </div>

    </div>
    <div class="middle-card-three">

      <div class="middle-card-three-left">
        <div class="middle-card-three-left-decoration-one">

        </div>
        <div class="middle-card-three-left-decoration-two">

        </div>

        <div class="middle-card-three-top-decoration-one">

        </div>
        <div class="middle-card-three-top-decoration-two">

        </div>

      </div>

      <div class="middle-card-three-right">

      </div>

    </div>
  </div>

  <div class="mainprofile-footer">
    <ol>
      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
    </ol>
  </div>
</div>
